/*-------------------------ALL-------------------------*/

body {
  background-color: white;
  font-size: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  margin: 0;
  padding: 0;
  color: #434343;
}

a:hover {
  background-color: #aaaae6;
  color: #fdfdfd;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*-------------------------NAVIGATION-------------------------*/
nav {
  background-color: #ffeae4;
}

.nav-table {
  width: 100%;
  padding: 3% 3%;
  border-bottom: solid;
  border-color: #ebf593;
  margin-bottom: 5%;
}

.blog-title {
  font-family: 'Silkscreen';
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  color: #df6ca2;
}

.nav-ul {
  text-transform: uppercase;
  font-family: Lucida Console;
  font-size: 1em;
}

.nav-li a:link {
  float: right;
  text-decoration: none;
}

.nav-a {
  display: block;
  padding: 8px;
  color: #ff9477;
}

/*-------------------------MAIN BODY-------------------------*/
.main-body {
  padding: 0 10% 0 10%;
}

.div-header {
  font-family: 'Aldrich', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.div-body {
  text-align: center;
}

.home-img {
  width: 100%;
  height: auto;
}

a.projects-links {
  text-decoration: underline;
  color: #434343;
}

a.projects-links:hover {
  text-decoration: none;
  color: white;
}

.table-border {
  border-collapse: collapse;
  border: 2px solid;
  width: 50vw;
  text-align: center;
  padding: 5px;
  margin: auto;
}

.external-link {
  text-transform: uppercase;
  font-family: Lucida Console;
  font-size: 1em;
  display: block;
  padding: 8px;
  color: #ff9477;
}

/*-------------------------FOOTER-------------------------*/
/*ISSUE TO FIX: footer showing white space at the bottom*/
footer {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
}

.footer-div {
  background-color: #ebf593;
  padding: 5% 5%;
  margin-top: auto;
}

.footer-p {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 600;
}

.footer-penguin {
  /*create media query to set max size & min size of penguin*/
  display: block;
  margin: auto;
}

/*-------------------------MEDIA QUERIES-------------------------*/
@media only screen and (min-width: 800px) {
  .footer-penguin {
    width: 80px;
  }

  .home-img {
    width: 40vw;
  }
}

@media only screen and (max-width: 800px) {
  .footer-penguin {
    width: 60px;
  }
}
